* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: -webkit-body, arial, sans-serif, Consolas, Courier New, Courier, monospace,
            "Microsoft YaHei UI", "Microsoft YaHei", 微软雅黑, 黑体;
}

body {
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

input,
select {
    outline: none;
}

button,
.mhover {
    cursor: pointer;
}

.v-shadow {
    box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15);
    background-color: #fff;
}

.scroll {
    overflow-y: overlay;
}

.scroll::-webkit-scrollbar-track{
    background-color: #ddd;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #999;
    border-radius: 5px;
}

.uncopy {
    user-select:none;
}